{% load static %}
<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'homeapp/style.css' %}">
    <title>{% block head_title %}{% endblock head_title %}</title>
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body class="is-flex is-flex-direction-column is-align-items-stretch" style="height: 100%;">
    {% block body %}
      <div class="level has-background-primary">
        <div class="level-item has-text-centered">
          <div class="m-3">
            <a class="has-text-white is-size-6" href="/">Tolle karten</a>
          </div>
        </div>
      </div>
      <section class="section is-flex-grow-1 is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
        <div class="container is-flex-grow-0 mb-6 p-6 box ">
          {% block content %}
          {% endblock content %}
        </div>
      </section>
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
  </body>
</html>
