asgiref==3.7.2
cfgv==3.4.0
distlib==0.3.8
Django==5.0.1
django-cors-headers==4.3.1
djangorestframework==3.14.0
filelock==3.13.1
identify==2.5.33
nodeenv==1.8.0
pillow==10.2.0
platformdirs==4.2.0
pre-commit==3.6.0
pytz==2024.1
PyYAML==6.0.1
sqlparse==0.4.4
tzdata==2023.4
virtualenv==20.25.0
