{% extends "base.html" %}

{% block head_title %}Zmiana hasła{% endblock head_title %}

{% block content %}

    <h1>{% if token_fail %}Hasło zostało już zresetowane{% else %}Ustaw nowe hasło{% endif %}</h1>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Link nieaktywny. Prawdopodobnie został już wykorzystany. Możesz wygenerować nowy <a href="/password-reset/">link do zresetowania hasła</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}" class="container">
            {% csrf_token %}
              <div class="field">
                <div class="control">
                  <input class="input is-medium" type="password" name="password1" placeholder="Nowe hasło" autocomplete="new-password" required="" id="id_password1">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-medium" type="password" name="password2" placeholder="Nowe hasło (powtórz)" required="" id="id_password2">
                </div>
              </div>
            <div class="container">
                <button type="submit" class="button is-primary" name="action">Zmień hasło</button>
            </div>
        </form>
    {% endif %}
{% endblock content %}
