{% extends "base.html" %}

{% block head_title %}Zmiana hasła{% endblock head_title %}

{% block content %}
    <h1 class="mb-3">Zresetuj hasło:</h1>
    <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
          <div class="field">
            <div class="control">
              <input class="input is-medium" type="email" name="email" placeholder="adres email" autocomplete="email" size=40 maxlength="320" required="" id="id_email">
            </div>
          </div>
        <div class="container">
            <button type="submit" class="button is-primary" name="action">Wyślij link do resetowania</button>
        </div>
    </form>
{% endblock content %}
